.form_backrground{
    background-color: white;
    padding-top: px;
    padding-bottom: 30px;
}

h3{
    font-family: 'Playfair Display', serif;
}

.singin{
    padding: 0 40px;
    justify-content: center;
}