.card-info{

    height: 100px;
}



.card-bottom {
    height: 100px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.transaction {
    height: 200px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.card-img-top {
    height: 250px;
}

.art-card {
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
}

p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

h6{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h3{
    font-family:  "Work Sans", "Helvetica", "sans-serif";
    font-weight: 900;

}
