.show-container{
    
  width: 50%;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.rounded{
    justify-content: center;
}

ul{
    text-align: center;
}
.light-p {
    opacity: 0.7;
}

.art-card-show{
    padding: 20px;
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
    position: sticky;
}