

<div class="container">

  <h1> These are the artworks corresponding to your search </h1>

  <div class="container">

   <div class="container">
    <div class="row">
      <% @artworks.each do |artwork| %>
        <div class="col-lg-4 col-sm-12">
         <%= link_to (artwork) do %>
          <div class="art-card fixed-height-two">
            <% if !artwork.photo.attached? %>
                <img class="card-img-top" src='https://images.unsplash.com/photo-1523554888454-84137e72c3ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60' alt="Card image">
            <% else %>
                <img class="card-img-top" src='<%= cl_image_path artwork.photo.key %>' alt="Card image">
            <% end %>
              <div class="card-bottom">
                  <div class="card-info">
                    <h6> <%= artwork.title %> </h6>
                    <p class="card-text"> <%= artwork.price_per_hour %> euros </p>
                  </div>

              </div>

          </div>
          <% end %>
        </div>

      <% end %>
    </div>

</div>
