<div class="footer">
    <div class="d-flex justify-content-center">
      <a href="https://www.facebook.com/christophe.brucker"
          target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.facebook.com/christophe.brucker"
          target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/christophe.brucker"
          target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  <div>
