
<div class="container">
  <div class="banner d-flex align-items-center justify-content-between">
    <div class="bannertextbox">
      <h2>  Design your space </h2>
      <h2>  Rent an artwork </h2>
    </div>
    <button type="button" class="btn btn-dark btn-sm">
          <%= link_to 'View available artworks', artworks_path %>
        </button>
  </div>
</div>
