<div class="container text-center">
  <br>
  <h1> Thanks for making a booking request! </h1>
  <h4><u><%= link_to "Browse more artworks", artworks_path %></u></h4>
  <h4><u><%= link_to "See all your requests", transactions_path %></u></h4>
</div>


